In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [27]:
def fileToDf(fileName, numberToSample = 120000):
    file = open(fileName, "r")
    games = []
    dic = {}
    needed = ['White', 'Black','Result','WhiteElo','BlackElo']
    counter = 0; num_data = 0
    for l in file:
        if l[0] == "[":

            string = l[1:-1]

            header = string.split()[0]
            if (header in needed):
                dic[header] = string[len(header):-2].strip().strip('"')


        if l[:12] == "[Termination":
            num_data += 1
            games.append(dic)
            dic = {}
        else:
            pass

    df = pd.DataFrame(games)
    
    print(num_data)
    
    if(len(df)> numberToSample):
        index = np.random.choice(np.arange(0, len(df)),size =numberToSample,replace = False)
        df = df.iloc[index,:]
#     df.to_csv('games.csv', index=False)

#     df1 = pd.read_csv('games.csv')
    
    return df.copy(), num_data

def fileToDf2(fileName, maxsize = int(1e6)):
    with open(fileName, 'r') as file:
        games = []
        dic = {}
        needed = ['White', 'Black','Result','WhiteElo','BlackElo']
        counter = 0
        filecounter = 0
        numData = 0
        for l in tqdm(file):
            if l[0] == "[":

                string = l[1:-1]

                header = string.split()[0]
                if (header in needed):
                    dic[header] = string[len(header):-2].strip().strip('"')


            if l[:12] == "[Termination":

                counter +=1
                games.append(dic)
                del (dic)
                dic = {}
                numData += 1
                if (counter>=maxsize):
                  counter = 0


                  df = pd.DataFrame(games)
                  df.to_csv('Data/temp/'+str(filecounter)+'.csv')
                  filecounter +=1
                  del (games)
                  del (df)
                  games = []
            else:
                pass
        if (len(games) != 0 ):
          df = pd.DataFrame(games)
          df.to_csv('Data/temp/'+str(filecounter)+'.csv')

        #df = pd.DataFrame(games)

        # if(len(df)> numberToSample):
        #     index = np.random.choice(np.arange(0, len(df)),size =numberToSample,replace = False)
        #     df = df.iloc[index,:]
    #     df.to_csv('games.csv', index=False)

    #     df1 = pd.read_csv('games.csv')
    
    return numData

def fileToDfFICS(fileName, maxsize = int(1e6)):
    with open(fileName, 'r') as file:
        games = []
        dic = {}
        needed = ['White', 'Black','Result','WhiteElo','BlackElo']
        counter = 0
        filecounter = 0
        numData = 0
        for l in tqdm(file):
            if l[0] == "[":

                string = l[1:-1]

                header = string.split()[0]
                if (header in needed):
                    dic[header] = string[len(header):-2].strip().strip('"')

            if l[:7] == "[Result":

                counter +=1
                games.append(dic)
                del (dic)
                dic = {}
                numData += 1
                if (counter>=maxsize):
                  counter = 0


                  df = pd.DataFrame(games)
                  df.to_csv('Data/FICS/temp/'+str(filecounter)+'.csv')
                  filecounter +=1
                  del (games)
                  del (df)
                  games = []
            else:
                pass
        if (len(games) != 0 ):
          df = pd.DataFrame(games)
          df.to_csv('Data/FICS/temp/'+str(filecounter)+'.csv')

        #df = pd.DataFrame(games)

        # if(len(df)> numberToSample):
        #     index = np.random.choice(np.arange(0, len(df)),size =numberToSample,replace = False)
        #     df = df.iloc[index,:]
    #     df.to_csv('games.csv', index=False)

    #     df1 = pd.read_csv('games.csv')
    
    return numData

### Process Per Month

In [151]:
# Process per month
year = 2019
month = str(12).zfill(2)
numbers = fileToDf2("Data/2016/lichess_db_standard_rated_"+str(year)+'-'+month+'.pgn')

169826234it [04:21, 650590.63it/s]

In [153]:
# Sample 120K from each month
sample_size = 120*1000
index = np.random.choice(numbers, sample_size)

fileNumbers = index // int(1e6)
indexInFiles = index % int(1e6)
dfFinal = pd.DataFrame()
for data in range(np.max(fileNumbers)+1):
  indexInFile = indexInFiles[np.where(data == fileNumbers)[0]]
  
  dfChunk = pd.read_csv('Data/temp/'+ str(data)+'.csv')
  dfFinal = dfFinal.append(dfChunk.iloc[indexInFile,:])

In [20]:
# FICS Process per month
year = 2019
month = str(1).zfill(2)
numbers = fileToDfFICS("Data/FICS/2019/ficsgamesdb_"+str(year)+'_'+month+'.pgn')

11719182it [00:16, 704388.41it/s]

In [28]:
# FICS Process per year
year = 2019
numbers = fileToDfFICS("Data/FICS/2019/ficsgamesdb_"+str(year)+'_All.pgn')

119147975it [04:22, 454062.90it/s]

In [30]:
numbers

5916844

In [ ]:
# Sample 120K from each month
sample_size = 120*1000
index = np.random.choice(numbers, sample_size)

fileNumbers = index // int(1e6)
indexInFiles = index % int(1e6)
dfFinal = pd.DataFrame()
for data in range(np.max(fileNumbers)+1):
  indexInFile = indexInFiles[np.where(data == fileNumbers)[0]]
  
  dfChunk = pd.read_csv('Data/temp/'+ str(data)+'.csv')
  dfFinal = dfFinal.append(dfChunk.iloc[indexInFile,:])

In [33]:
# FICS Sample 1.44M for a whole year
sample_size = int(1.44 * 1e6)
index = np.random.choice(numbers, sample_size)

fileNumbers = index // int(1e6)
indexInFiles = index % int(1e6)
dfFinal = pd.DataFrame()
for data in range(np.max(fileNumbers)+1):
  indexInFile = indexInFiles[np.where(data == fileNumbers)[0]]
  
  dfChunk = pd.read_csv('Data/temp/'+ str(data)+'.csv')
  dfFinal = dfFinal.append(dfChunk.iloc[indexInFile,:])

In [34]:
dfFinal

,Unnamed: 0,White,Black,WhiteElo,BlackElo,Result
661394,661394,ytunde,janok,1682,1545,1-0
915708,915708,bijsah,Babuya,1243,1259,0-1
638642,638642,anjii,MisterMustard,1465,1574,0-1
210827,210827,wycliff,KECHMATE,1518,1713,0-1
962134,962134,centrozap,sirschaap,1652,1575,0-1
...,...,...,...,...,...,...
285916,285916,mcSol_aar,ebi1553,1803,1814,1/2-1/2
334037,334037,catgotyourtongue,EZZELDEEN,1867,1462,1-0
842124,842124,n3b4,lukasi96,1286,1257,0-1
893658,893658,adekcz,AlpAlp54,1912,1704,1-0
447911,447911,hajilo137,Hugo11,1426,1369,1-0

In [35]:
dfFinal.to_csv('Data/FICS/2019/2019_All.csv')

In [3]:
# Combine into a single dataframe once above is ran for 12 months
df_result = pd.DataFrame()
for month in range(1, 13):
    month_name = str(month).zfill(2)
    name = 'Data/2019/2019-'+str(month_name)+'.csv'
    dat = pd.read_csv(name)
    df_result = df_result.append(dat)

In [4]:
columns_wanted = ['White', 'Black', 'Result', 'WhiteElo', 'BlackElo']
columns = df_result.columns
discarded = columns[~np.isin(columns, columns_wanted)]

print(discarded)

Index(['Unnamed: 0'], dtype='object')

In [5]:
df_result = df_result.drop(columns = discarded)
df_result

                   White           Black Result  WhiteElo  BlackElo
0              monxo1978  playanotherone    0-1       946      1805
1           Nurcancakmaz          notwey    0-1       800       854
2                 Enamul    ARCHAVATAR72    1-0      1910      1592
3       almostbeatlevel0    TheWiseKitty    0-1      1030       983
4          bonecollector       Hulkiorra    1-0      2034      1827
...                  ...             ...    ...       ...       ...
119995   walterjaramillo          jj1987    0-1      2225      2196
119996   abhijeetbmeut28         Sauvier    0-1      1798      1774
119997      elmatador321     dagenssuppe    0-1      1954      1956
119998    jawad_baddad33        Mala-Mia    0-1      1810      1856
119999        ThePrince7     asep_laptop    0-1      2118      2040

[1440000 rows x 5 columns]

In [7]:
df_result.to_csv('Data/2019/2019_All.csv')

### Process Whole Year

In [85]:
#listOptions = "lichess_db_standard_rated_"-0
listAppend = []
year = 2016
df = pd.DataFrame()
for i in tqdm(range(12)):
    number_str = str(i+1)
    month  = number_str.zfill(2)
    name = 'Data/'+str(year)+"/lichess_db_standard_rated_"+str(year)+'-'+month+'.pgn'
    
    print(f"Year {year} month {i + 1} ori data count")
    
    data, num_data = fileToDf(name)
    df = df.append(data)
    
    #print(name)

  0%|          | 0/12 [00:00<?, ?it/s]

Year 2015 month 1 ori data count
1497237

  8%|▊         | 1/12 [00:21<03:57, 21.61s/it]

Year 2015 month 2 ori data count
1495553

 17%|█▋        | 2/12 [00:42<03:32, 21.22s/it]

Year 2015 month 3 ori data count
1742733

 25%|██▌       | 3/12 [01:08<03:28, 23.15s/it]

Year 2015 month 4 ori data count
1785418

 33%|███▎      | 4/12 [01:33<03:11, 23.95s/it]

Year 2015 month 5 ori data count
2137557

 42%|████▏     | 5/12 [02:03<03:02, 26.13s/it]

Year 2015 month 6 ori data count
2324106

 50%|█████     | 6/12 [02:36<02:50, 28.42s/it]

Year 2015 month 7 ori data count
2455141

 58%|█████▊    | 7/12 [03:11<02:33, 30.69s/it]

Year 2015 month 8 ori data count
2621861

 67%|██████▋   | 8/12 [03:48<02:11, 32.87s/it]

Year 2015 month 9 ori data count
2844677

 75%|███████▌  | 9/12 [04:29<01:45, 35.20s/it]

Year 2015 month 10 ori data count
3400418

 83%|████████▎ | 10/12 [05:21<01:21, 40.54s/it]

Year 2015 month 11 ori data count
3595776

 92%|█████████▏| 11/12 [06:13<00:44, 44.11s/it]

Year 2015 month 12 ori data count
4161162

100%|██████████| 12/12 [07:13<00:00, 36.16s/it]

In [86]:
df = df.drop_duplicates()
len(df)

1439767

In [88]:
df.to_csv('Data/2015/2015_2.csv', index=False)

In [16]:
#lichess_db_standard_rated_2013-01.pgn
file = open("lichess_db_standard_rated_2013-01.pgn/lichess_db_standard_rated_2013-01.pgn", "r")

array([75, 23, 59,  2, 90, 41, 45, 83,  1, 82, 81, 14, 32, 20,  7, 95, 94,
       77, 76, 92, 54,  6, 22, 97, 11, 68, 74, 40, 53, 30,  0, 13, 25, 96,
       58, 29, 56, 60, 67, 39, 99, 71, 65, 21, 38, 31, 50, 63, 19, 88, 43,
       46, 49, 37, 15, 48, 69, 16, 47, 17])

In [18]:

print(df1)

                   White              Black Result WhiteElo BlackElo
0                    NaN                NaN    NaN      NaN      NaN
1         Desmond_Wilson          savinka59    1-0     1654     1919
2          Kozakmamay007  VanillaShamanilla    1-0     1643     1747
3       Naitero_Nagasaki                800    0-1     1824     1973
4           nichiren1967   Naitero_Nagasaki    0-1     1765     1815
...                  ...                ...    ...      ...      ...
121327       Yudhisthira           netsah08    0-1     1854     1937
121328             Daler        kualalumpur    0-1     1500     1266
121329             senip        Richard_XII    0-1     1431     1523
121330              van9           shueardm    1-0     1693     1479
121331        pablotorre         Tortfeasor    0-1     1744     1762

[121332 rows x 5 columns]

In [19]:
df1

                   White              Black Result WhiteElo BlackElo
0                    NaN                NaN    NaN      NaN      NaN
1         Desmond_Wilson          savinka59    1-0     1654     1919
2          Kozakmamay007  VanillaShamanilla    1-0     1643     1747
3       Naitero_Nagasaki                800    0-1     1824     1973
4           nichiren1967   Naitero_Nagasaki    0-1     1765     1815
...                  ...                ...    ...      ...      ...
121327       Yudhisthira           netsah08    0-1     1854     1937
121328             Daler        kualalumpur    0-1     1500     1266
121329             senip        Richard_XII    0-1     1431     1523
121330              van9           shueardm    1-0     1693     1479
121331        pablotorre         Tortfeasor    0-1     1744     1762

[121332 rows x 5 columns]

In [28]:
np.unique(np.array(df1['Result'].loc[1:]),return_counts = True)

(array(['0-1', '1-0', '1/2-1/2'], dtype=object),
 array([55221, 62128,  3982], dtype=int64))

In [6]:
header

'Termination'

In [7]:
string = "test a"
string.split()

['test', 'a']

In [4]:
df1

,Event,Site,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,BlackTitle,WhiteTitle
0,Rated Classical game,https://lichess.org/j1dkb5dw,BFG9k,mamalak,1-0,2012.12.31,23:01:03,1639,1403,5.0,-8.0,C00,French Defense: Normal Variation,600+8,Normal,NaN,NaN
1,Rated Classical game,https://lichess.org/a9tcp02g,Desmond_Wilson,savinka59,1-0,2012.12.31,23:04:12,1654,1919,19.0,-22.0,D04,"Queen's Pawn Game: Colle System, Anti-Colle",480+2,Normal,NaN,NaN
2,Rated Classical game,https://lichess.org/szom2tog,Kozakmamay007,VanillaShamanilla,1-0,2012.12.31,23:03:15,1643,1747,13.0,-94.0,C50,Four Knights Game: Italian Variation,420+17,Normal,NaN,NaN
3,Rated Bullet game,https://lichess.org/rklpc7mk,Naitero_Nagasaki,800,0-1,2012.12.31,23:04:57,1824,1973,-6.0,8.0,B12,Caro-Kann Defense: Goldman Variation,60+1,Normal,NaN,NaN
4,Rated Bullet game,https://lichess.org/1xb3os63,nichiren1967,Naitero_Nagasaki,0-1,2012.12.31,23:02:37,1765,1815,-9.0,9.0,C00,French Defense: La Bourdonnais Variation,60+1,Normal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121327,Rated Classical game,https://lichess.org/4w6vfr19,Yudhisthira,netsah08,0-1,2013.01.31,22:59:08,1854,1937,-9.0,16.0,E80,King's Indian Defense: Saemisch Variation,600+10,Normal,NaN,NaN
121328,Rated Classical game,https://lichess.org/33p7nthu,Daler,kualalumpur,0-1,2013.01.31,22:59:13,1500,1266,-331.0,12.0,B01,Scandinavian Defense,720+0,Time forfeit,NaN,NaN
121329,Rated Classical game,https://lichess.org/pzncnhrt,senip,Richard_XII,0-1,2013.01.31,22:59:27,1431,1523,-70.0,7.0,B01,Scandinavian Defense: Mieses-Kotroc Variation,960+6,Normal,NaN,NaN
121330,Rated Blitz game,https://lichess.org/hhwb2whr,van9,shueardm,1-0,2013.01.31,22:59:41,1693,1479,6.0,-5.0,B00,Barnes Defense,180+1,Normal,NaN,NaN
121331,Rated Blitz game,https://lichess.org/e4gb7ja6,pablotorre,Tortfeasor,0-1,2013.01.31,22:59:31,1744,1762,-10.0,19.0,B15,Caro-Kann Defense: Forgacs Variation,300+0,Time forfeit,NaN,NaN

In [5]:
len(df1['Site'].unique())

121332

In [ ]:
numcount = 0; file = open('Data/2013/lichess_db_standard_rated_2013-10.pgn', 'r'); numcount2 = 0; numcount3 = 0; start = 0
possible = ['\n', '[', '1']
for idx, l in enumerate(file):
    if start > 0:
        print(l)
        start -= 1
    if l[:12] == '[Termination':
        numcount3 += 1
    if l[0] == '1':
        numcount+=1
    if l[0] not in possible:
        print(l)
        numcount2 += 1
        start += 20
    
print(numcount)